body {
    padding-top: 5rem;
}

img{
    height: auto;
    max-width:500px;
}

#img1{
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 2fr;
    grid-auto-flow: row; 
    width: 100%;
    
}